{% extends 'backoffice/base.html.twig' %}
{% block page_title %} Gestion d'utilisteurs {% endblock %}
{% block fil_ariane %} 
<li class="breadcrumb-item active">Ajputer utilisateur</li>
{% endblock %}

{% block body %}

         <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
            
            
            <div class="card-body">
                {{ form_start(form) }}
                <div class="card-body">
                    <div class="form-group">
                        {{ form_row(form.username, {'label': 'Prénom', 'attr': {'placeholder': 'Saisir votre prénom...'}}) }}
                     </div>

                      <div class="form-group">
                        {{ form_row(form.password, {'label': 'Prénom', 'attr': {'placeholder': 'Saisir votre prénom...'}}) }}
                     </div>

                      <div class="form-group">
                        {{ form_row(form.firstname, {'label': 'Prénom', 'attr': {'placeholder': 'Saisir votre prénom...'}}) }}
                     </div>

                      <div class="form-group">
                        {{ form_row(form.lastname, {'label': 'Prénom', 'attr': {'placeholder': 'Saisir votre prénom...'}}) }}
                     </div>

                      <div class="form-group">
                        {{ form_row(form.email, {'label': 'Prénom', 'attr': {'placeholder': 'Saisir votre prénom...'}}) }}
                     </div>

                      <div class="form-group">
                        {{ form_row(form.birthdate, {'label': 'Prénom', 'attr': {'placeholder': 'Saisir votre prénom...'}}) }}
                     </div>

                      <div class="form-group">
                        {{ form_row(form.function, {'label': 'Prénom', 'attr': {'placeholder': 'Saisir votre prénom...'}}) }}
                     </div>

                      <div class="form-group">
                        {{ form_row(form.classe, {'label': 'Prénom', 'attr': {'placeholder': 'Saisir votre prénom...'}}) }}
                     </div>
                </div>
                
            </div>
            <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Envoyer</button>
             </div>
            </div>
            {{ form_end(form) }}  
         </div>     

  
        

    
        


{% endblock %}