{% extends 'backoffice/base.html.twig' %}
{% block page_title %} Gestion d'utilisteurs {% endblock %}
{% block fil_ariane %} 
<li class="breadcrumb-item active">Liste utilisateurs</li>
{% endblock %}
{% block body %}

     
    <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">List des utilisateurs</h3>
                <div class="card-tools"><a href="{{ path('user_add') }}" class="btn btn-block btn-outline-success btn-sm">Ajouter utilisateur</a></div>                  
                
                
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th style="width: 40px">Function</th>
                    </tr>
                  </thead>
                   <tbody>
                        {% for user in users %}
                        
                          <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.function }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
       
                       
              
{% endblock %}
